<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source= MONKEEYHILL\SQLEXPRESS; Integrated Security=true;Initial Catalog=Demo; uid=sa; Password=12345; " providerName="System.Data.SqlClient" />
   
    <!--this connect string for myssql-->
    <add name="MysqlConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=Demo;User Id=root;Password=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>